/** @format */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* glopal Styles */
body {
  font-family: "Julius Sans One", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* input */

@layer components {
  .input {
    @apply border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-main-color;
  }
}
/* label */
.label {
  @apply block text-gray-700 text-base mb-2;
}
/* footer */
.footer {
  @apply bg-light-color py-5 text-center;
}
/* notfoundPage */
.notfound {
  @apply container flex justify-center items-center w-3/5  m-auto py-5;
}
  .btn-fun {
    @apply rounded bg-transparent border text-black border-green-500 text-lg p-2;
  }
/* buttons */
@layer components {
  .btn-main {
    @apply px-5 py-2 rounded text-white cursor-pointer bg-main-color my-6 block me-auto hover:bg-green-500 transition ease-in duration-200;
  }
  .btn-main:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
}
